.Post-form-container {
  position: relative;
  width: 800px;
  background-color:#fff;
  margin-left: auto;
  margin-right: auto;
}

.Post-form-container form{
  margin:0 auto;
  padding:10px;
  background: #F2F2F2;
}

.Post-form-container form h3{
  text-transform: uppercase;
  color:var(--black);
  margin-bottom: 5px;
  text-align: center;
  font-size: 24px;
}

.Post-form-container form label{
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;

}

.Post-form-container form .box{
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 12px;
  font-size: 18px;
  margin:3px 0;
  background: #fff;
  text-transform: none;
}

/* .Post-form-container form .box:hover{
  color: white;
  background-color: #fff;
} */

.Post-form-container form .btn{
  width:85px;
  height: 40px;
  border-radius: 12px;
  display: block;
  width: 300;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  padding:5px;
  margin-left: auto;
  margin-right: auto;
  background: #212529;    
  color:white;
  text-align: center;
}


.Post-form-container form .btn:hover{
  color: white;
  background-color: #292e33;
}
  